<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2013 DASISH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="ROOT">
        <param value="${catalina.base}/logs/dasishRoot.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c#%M:%L] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="DATABASE">
        <param value="${catalina.base}/logs/dasishDatabase.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c#%M:%L] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="SERVER">
        <param value="${catalina.base}/logs/dasishServer.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c#%M:%L] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    
  
    <logger name="eu.dasish.annotation.backend.rest.AnnotationResource"  additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.TargetResource" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.UserResource" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.CachedRepresentationResource" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.DebugResource" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
   
     <logger name="eu.dasish.annotation.backend.dao.impl.JdbcResourceDao" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
    <logger name="eu.dasish.annotation.backend.dao.impl.JdbcAnnotationDao" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
     <logger name="eu.dasish.annotation.backend.dao.impl.JdbcTargetDao" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
     <logger name="eu.dasish.annotation.backend.dao.impl.JdbcUserDao" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
     <logger name="eu.dasish.annotation.backend.dao.impl.JdbcCachedRepresentationDao" additivity="false">
        <level value="debug"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
    <logger name="javax.servlet.http.HttpServletResponse" additivity="false">
        <level value="debug"/>
        <appender-ref ref="SERVER"/>
        <appender-ref ref="DATABASE"/>
    </logger>
    
    
    <logger name="org.springframework">
        <level value="off"/>
        <appender-ref ref="SERVER"/>
        <appender-ref ref="DATABASE"/>
    </logger>

    
    <root>
        <level value="info"/>
        <appender-ref ref="ROOT"/>  
        <appender-ref ref="SERVER"/> 
        <appender-ref ref="DATABASE"/> 
    </root>
    
</log4j:configuration>
