<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright (C) 2013 DASISH

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
-->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.DailyRollingFileAppender" name="ROOT">
        <param value="${catalina.base}/logs/dasishAnnotator.log" name="File"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %p [%c#%M:%L] - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <logger name="eu.dasish.annotation.backend.rest.AnnotationResource">
        <level value="info"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.TargetResource">
        <level value="info"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.UserResource">
        <level value="info"/>
    </logger>
    <logger name="eu.dasish.annotation.backend.rest.CachedRepresentationResource">
        <level value="info"/>
    </logger>
    <root>
        <level value="info"/>
        <appender-ref ref="ROOT"/>
    </root>
</log4j:configuration>
