<?xml version="1.0" encoding="UTF-8"?>
<!--

    Copyright (C) 2013 DASISH

    This program is free software; you can redistribute it and/or
    modify it under the terms of the GNU General Public License
    as published by the Free Software Foundation; either version 2
    of the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.

-->
<beans:beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.1.xsd">
</beans:beans>

<http auto-config='true'>
    <intercept-url pattern="/**" access="ROLE_USER" />
    <http-basic />
</http>
<authentication-manager>
    <authentication-provider>
        <user-service>
            <user name="olha" password="adminpassword" authorities="ROLE_USER, ROLE_ADMIN" />
            <user name="twan" password="twanpassword" authorities="ROLE_USER" />
            <user name="stephanie" password="stephaniepassword" authorities="ROLE_USER" />
            <user name="olof" password="olofpassword" authorities="ROLE_USER" />
            <user name="peter" password="peterpassword" authorities="ROLE_USER" />
            <user name="daan" password="daanpassword" authorities="ROLE_USER" />
            <user name="menzo" password="menzopassword" authorities="ROLE_USER" />
            <user name="przemek" password="przemekpassword" authorities="ROLE_USER" />
        </user-service>
    </authentication-provider>
</authentication-manager>
